@font-face {
    font-family: 'Plump';
    src: url('Fontes/Plump.ttf');
}
@font-face {
    font-family: 'Sriracha';
    src: url('Fontes/Sriracha-Regular.ttf');
}
 main {
    font-family: 'Sriracha';
    line-height: 20px;
    font-size: 22px;
    margin: 100px 0px 0px 20px;
}
div#titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    width: 100vw;
    margin: -21px 0px 0px -8px;
    height: 26vw;
    min-height: 190px;
}
div > h1 {
    font-family: 'Plump';
    font-size: 7vw;
    margin-bottom: -5px;
    padding-top: 1vw;
}
div > p {
    font-family: Arial, Helvetica, sans-serif;
    font: 500, 18px;
    padding-bottom: 1px;
}
div > p > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
div > p > a:hover {
    text-decoration: underline;
}
        