body {
    line-height: 30px;
    text-align: center;
    background-color: rgb(230, 5, 192);
    font-family: 'Pacifico', cursive;
}
h1 {
    height: 40px;
    background-color: pink;
}
div {
    line-height: 105px; 
}
img {
    border-radius: 50%;
}
p {
    color: white;
    font-size: 25px;
}
button {
    background-color: pink;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-family: 'Pacifico', cursive;
}
button#res {
    height: 100px;
    width: 200px;
    border: black solid 1px;
}
button:hover {
    background-color: rgb(179, 136, 143);
    cursor: pointer;
}